{% extends "base.html" %}

{% block title %}
Projetos
{% endblock %}


{% block header %}
<header class="masthead" style="background-image: url('../static/img/espirito.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Todos Projetos</h1>
            <span class="subheading">Saiba o que esta acontecendo em cada projeto</span>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock %}

{% block conteudo %}
<div class="col-lg-8 col-md-10 mx-auto">
{% if current_user.urole=="admin" %}
 
  <div class="clearfix">
    <a class="btn btn-primary float-left" href="" data-toggle="modal" data-target="#projetomodal">Nova atualização</a>
  </div>
{% endif %}
  {% if allProjetos %}
{% for projetos in allProjetos %}
  <div class="post-preview">
      <a href="">
      <h2 class="post-title">
          {{ projetos.nome }}
      </h2>
      <h3 class="post-subtitle">
          {{ projetos.descricao }}
      </h3>
      </a>
      <p class="post-meta">Postado em
          {{ projetos.data_criacao }}
      </p>
  </div>
  <hr>
{% endfor %}
{% else %}
<div class="post-preview">
    <a href="">
    <h2 class="post-title">
       Não há atualização de projetos.
    </h2>
    </a>
</div>
{% endif %}

</div>

<!-- Modal adicionar projeto-->
<div class="modal fade" id="projetomodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Projeto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="POST" action="{{url_for('projetos.adicionar')}}">
            <div class="modal-body">
                {{ adicionarProjeto.hidden_tag() }}
                <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Nome do projeto</label>
                    {{ adicionarProjeto.nome(class="form-control", placeholder="Nome do projeto") }}
                </div>
                </div>

                <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Descrição do projeto</label>
                    {{ adicionarProjeto.descricao(class="form-control", placeholder="Descrição do projeto", rows="4") }}
                </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 20px;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                {{ adicionarProjeto.submit(class="btn btn-primary") }}
            </div>
        </form>
        </div>
    </div>
  </div>

{% endblock %}

