{% extends "base.html" %}

{% block title %}
Projetos
{% endblock %}


{% block header %}
<header class="masthead" style="background-image: url('../static/img/espirito.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Todos Projetos</h1>
            <span class="subheading">Saiba o que esta acontecendo em cada projeto</span>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock %}

{% block conteudo %}
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="post-preview">
        <a href="post.html">
        <h2 class="post-title">
            Man must explore, and this is exploration at its greatest
        </h2>
        <h3 class="post-subtitle">
            Problems look mighty small from 150 miles up
        </h3>
        </a>
        <p class="post-meta">Posted by
        <a href="#">Start Bootstrap</a>
        on September 24, 2019</p>
    </div>
    <hr>
</div>
{% endblock %}