{% extends "base.html" %}

{% block title %}
Controle
{% endblock %}


{% block header %}
<header class="masthead" style="background-image: url('../static/img/espirito.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Controle Total</h1>
            <span class="subheading">Controle usuarios e a lista de email que receberão as novidades do sistema</span>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock %}

{% block conteudo %}
<div class="col-lg-10 col-md-12 mx-auto">
  <div class="row">
    <div class="site-heading">
        <h1>Tenha acesso aos emails, podendo adicionar, excluir ou lista-los.</h1>
    </div>
    <div class="clearfix">
      <a class="btn btn-primary float-left" href="{{url_for('principal.email')}}">Ver Emails</a>
    </div>
  </div>
  
  <div class="row" style="margin-top: 30px;">
    <div class="site-heading">
        <h1>
          Envie o jornal semanal contendo atualizações sobre projetos e atividades da diretoria, para os emails já cadastrados.
        </h1>
    <div class="clearfix" style="margin-top: 30px;">
      <a class="btn btn-primary float-left" href="{{url_for('principal.jornal')}}">Enviar Jornal</a>
    </div>
  </div>
    
</div>
{% endblock %}