{% extends "base.html" %}

{% block title %}
Jornal
{% endblock %}


{% block header %}
<header class="masthead" style="background-image: url('../static/img/espirito.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Jornal Semanal</h1>
            <span class="subheading">Envie o jornal para os emails já cadastrados</span>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock %}

{% block conteudo %}
<div class="col-lg-10 col-md-12 mx-auto">
  <div class="row">
    <div class="site-heading">
        <h1>Tenha acesso aos emails, podendo adicionar, excluir ou lista-los.</h1>
    </div>
    <div class="clearfix">
      <a class="btn btn-primary float-left" href="#">Ver Emails</a>
    </div>
  </div>
    
</div>
{% endblock %}